body {
    background-color: #E3D6EA;
}

.name {
    color: #F88F42;
}

.headings {
    color: #F88F42;
    font-family: 'Courier New', Courier, monospace;
}

.bold {
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    display: inline;
    
}

#heading {
    text-indent: 0;
    
}

h6 {
    font-size: 15px;
    text-indent: 0;
}